<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/home">Back</a>
      </nav>
    <header>
        <h1>Handmade Leather Goods</h1>
        </header>
        <header>
        </header>
        <div class="container">
            <nav>
                <a href="/custom/new">Add New Product</a>
            </nav>
            <% custom.forEach(custom => { %>
            
                <a href='/custom/<%=custom._id; %>'> <img src="<%=custom.img; %>"></a>
                <p><%=custom.name; %></p>
                <p>$<%=custom.price; %></p>
                <a href="/custom/<%=custom._id %>/edit">Edit</a>
                <form action="/custom/<%= custom._id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
                </form>
            <% }) %>
        </div>

</body>
</html>